.post {
  border-radius: 1.75vw;
  padding: 4vh 4vw 4vh 4vw;
  display: flex;
  flex-direction: column;
  margin-bottom: 2.5vh;
  @apply bg-white;
  filter: drop-shadow(0.5vh 0.5vh 0.5vh rgba(0, 0, 0, 0.5));
}


/*
.shell {
  //position: fixed;
  //left: 0;
  padding: 1vh 0vw 0vh 0vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: -12vw;
}

.post-stats {

  width: 8vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.75vh;
}*/

.post-stats {
  margin-top: 1vh;
  position: absolute;
  left: 0;
  width: 8vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.75vh;
}

.post-title {
  padding: 0vh 0.5vw 1vh 0vw;
  width: 40vw;
  float: left;
  font-size: 3vh;
  font-weight: 600;
}

.post-content {
  padding: 0vh 1.5vw 1vh 0vw;
  margin-left: 4vw;
  //left: 4vw;
  //width: 45vw;
  font-size: 1.75vh;
}


/*
.post-content {
  padding: 0vh 0.5vw 1vh 4vw;
  left: 4vw;
  width: 45vw;
  font-size: 1.75vh;
}*/

.post-info {
  display: flex;
  justify-content: space-between;
  width: 45vw;
  margin: 0vh 4vw 0vh 4vw;
  font-size: 1.5vh;
  //color: black;
  @apply text-gray-500;
}

.link {
  @apply text-sky-700;
}

svg {
  height: 2vh;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 999; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.comment-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 8vh 35vw 0vh 35vw;
  overflow: hidden;
  width: 30vw;
  border-radius: 1.5vw;
  @apply bg-white;
}

.title2 {
  justify-self: center;
  font-family: Montserrat;
  font-weight: 300;
  font-size: 3vh;
  padding-bottom: 2vh;
  padding-top: 2vh;
}

.close {
    float: right;
    font-size: 3vh;
    font-weight: bold;
    margin: 0;
    position: absolute;
    right: 37vw;
    padding-top: 1.5vh;
    @apply text-gray-400;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

form {
  display: flex;
  flex-direction: column;
  padding-bottom: 2vh;
}

textarea {
  border-radius: 1.5vw;
  overflow: hidden;
  margin: 1vh 0vw 0vh 0vw;
  width: 20vw;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 1%;
  font-size: 2vh;
  font-weight: 300;
  @apply bg-gray-200 text-black;
  resize: none;
  height: 20vh;
}

input {
  border-radius: 1.5vw;
  overflow: hidden;
  margin: 1vh 0vw 0vh 0vw;
  width: 10vw;
  padding-left: 3%;
  padding-right: 3%;
  font-size: 2vh;
  font-weight: 300;
  @apply bg-gray-200 text-black;
}


.submit {
  @apply bg-sky-500 text-white;
  border-radius: 2vw;
  width: 6vw;
  height: 3vh;
  font-size: 1.5vh;
  font-weight: 300;
  margin-top: 2vh;
  align-self: center;
}

.submit:hover {
  @apply bg-sky-800;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 999; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}


.title {
  padding: 0vh 0.5vw 1vh 4vw;
  width: 40vw;
  float: left;
  font-size: 3vh;
  font-weight: 600;
}

.post-title, .header {
  width: 40vw;
  float: left;
  font-size: 3vh;
  font-weight: 600;
}
