.post {
  border-radius: 30px;
  margin-bottom: 50px;
  padding: 60px;
  padding-left: 85px;
  padding-right: 200px;
  display: flex;
  flex-direction: column;
  @apply bg-white;
  filter: drop-shadow(6px 6px 20px rgba(0, 0, 0, 0.5));
}

.post-title {
  font-size: 36px;
  font-weight: 300;
  margin-left: 110px;
}

.post-center {
  display: flex;
  flex-direction: row;
}

.post-stats {
  display: flex inline;
  flex-direction: column;
  align-items: center;
  font-size: 24px;
  margin-right: 60px;
}

.post-content {
  padding-left: 10px;
}

.post-info {
  display: flex inline;
  flex-direction: row;
  font-size: 24px;
  padding-left: 110px;
  @apply text-gray-400;
}

.post-user{

}

.link {
  @apply text-sky-700;
}

.post-date {
  align-content: right;
}
