#bg {
  z-index: 0;
  position: fixed;
  top: 60px;
  height: 100%;
  width: 100%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  //@apply bg-gray-300;
}

.container {
  display: flex;
  padding: 2rem;
  height: max-content;
  margin-top: 5rem;
  border-radius: 20px;
  width: 40rem;
  flex-flow: column wrap;
  @apply bg-white font-sans font-light;
  filter: drop-shadow(5px 10px 10px grey);
}

p {
  font-size: 225%;
  text-align: center;
  margin-bottom: 0.5rem;
  @apply font-sans font-light text-sky-800;
}

input {
  padding-left: 2%;
  top: 22px;
  height: 30px;
  width: 75%;
  margin-left: 12.5%;
  border-radius: 20px;
  overflow: auto;
  margin-top: 0.5rem;
  @apply bg-gray-200 text-black;
}

textarea {
  position: relative;
  padding-left: 2%;
  padding-top: 1%;
  resize: none;
  height: 15rem;
  border-radius: 20px;
  width: 75%;
  margin-left: 12.5%;
  border-radius: 20px;
  overflow: auto;
  margin-top: 0.5rem;
  @apply bg-gray-200 text-black;
}

button {
  font-size: 110%;
  width: 90px;
  display: block;
  margin: auto;
  text-align: center;
  margin-top: 1rem;
  height: 30px;
  border-radius: 7.5px;
  @apply text-white bg-sky-600;
}

button:hover {
  @apply bg-sky-800;
}
