.nav {
  background-color: black;
  height: 6vh;
  width: 100vw;
  color: white;
  z-index: 10;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.header {
  position: absolute;
  left: 0;
  font-family: Montserrat;
  font-weight: 300;
  margin-top: 1vh;
  margin-left: 4vw;
  font-size: 36px;
}

button {
  @apply bg-sky-500;
  border-radius: 30px;
  width: 130px;
  height: 3vh;
  font-size: 1.5vh;
  font-weight: 300;
  overflow: hidden;
}

.buttons {
  position: absolute;
  right: 0;
  margin-top: 1.5vh;
  margin-right: 4vw;
}

.login {
  margin-left: 0.5vw;
}

input {
  width: 20vw;
  height: 3vh;
  margin-top: 1.5vh;
  border-radius: 30px;
  font-size: 24px;
  font-weight: 300;
  padding-Left: 3%;
  padding-right: 3%;
  color: black;
}

.search {
  position: absolute;
  left: 55.5vw;
  top: 1.5vh;
  border-radius: 0px 30px 30px 0px;
  height: 3vh;
}

@media only screen and (max-width: 1000px) {
  input, .search, .login {
      display: none;
  }
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 999; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* The Close Button */
.close {
  color: red;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
