<div id="bg" ></div>
<div id = "box" class="font-sans: font-light">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <h1 id="title">FORUM  |  create post</h1>
    <div id="i1"><input  type ="text" size="30" placeholder="enter post title..." formControlName="title"></div>
    <div id="i2"><textarea  name="contnet" placeholder="enter post contents"></textarea></div>
    <div id="i3"><input type="text" size="30" placeholder="enter post tags..." formControlName="tags"></div>
  </form>

    <button type="button submit" id="submitButton" class="button" routerLink="/home">
      <div id="submitBG" class="font-sans: font-light">submit</div></button>
</div>


