#bg {
  position: fixed;
  top: 60px;
  height: 100%;
  width: 100%;
  background-color: transparent;
  @apply opacity-50;
  @apply bg-gray-300;
}

#box {
  display: flex;
  position: absolute;
  top: 20%;
  left: 37%;
  width: 700px;
  height: 540px;
  border-radius: 20px;
  @apply bg-white;
  filter: drop-shadow(5px 10px 10px grey);
}

h1 {
  position: relative;
  left: 28%;
  top: 5%;
  font-size: 225%;
  text-align: center;
  @apply text-sky-800;
}

input {
  padding-left: 3%;
  height: 100%;
  border-radius: 20px;
  background-color: transparent;
  @apply text-gray-400;
  @apply bg-gray-300;
  overflow: auto;
  width: 190%;
}

#i1 {
  position: fixed;
  top: 20%;
  left: 10%;
  height: 30px;
}

#i2 {

  position: fixed;
  top: 30%;
  left: 10%;
  height: 190px;
}

#i3 {
  position: fixed;
  top: 70%;
  left: 10%;
  height: 30px;
}

#submitBG {
  @apply bg-sky-600;
  justify-content: center;
  position: relative;
  top: 88%;
  width: 90px;
  text-align: center;
  height: 30px;
  padding-top: 0.5%;
  @apply text-white;
  border-radius: 7.5px;
}
