
  <div class="container">
    <button class="close" onClick="getElementById('compose-modal').style.display = 'none'">&times;</button>
    <div class="title">Pigeon | Create Post</div>
    <form [formGroup]="composeForm" (ngSubmit)="onSubmit()">
      <div id="i1"><input  type ="text" size="30" placeholder="Enter Post Title..." formControlName="composeTitle" required></div>
      <div id="i2"><textarea  name="content" placeholder="Enter Post Contents" formControlName="composeContent" required></textarea></div>
      <div id="i3"><input type="text" size="30" placeholder="Enter Tags..." formControlName="composeTags"></div>
      <button onClick="getElementById('compose-modal').style.display = 'none'" type="submit" id="submitButton" class="button submit">submit</button>
    </form>
  </div>

