.main {
    position: relative;
    padding-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    height: 100%;
    width: 80%;

    @apply text-black;
  }
  
  .title {
    font-size: 220%;
    font-weight: 800;
  }

  .content {
    font-size: 120%;
    line-height: 200%;
    margin-bottom: 2%;
  }

  .username {
    margin-bottom: 5%;
    font-size: 120%;
    font-weight: 800;
  }