.box {
  display: flex;
  flex-direction: row wrap;
  margin: 4vw;
  margin-top: 8vh;
}

.left {
  width: 60vw;
  margin-right: 2vw;
}

.right {
  width: 30vw;
  display: flex;
  flex-direction: column;
}

.post {
  border-radius: 30px;
  @apply bg-white;
  filter: drop-shadow(6px 6px 20px rgba(0, 0, 0, 0.5));
  padding: 4vh 4vw 4vh 4vw;
  display: flex;
  flex-direction: column;
}

.edit-button {
  position: absolute;
  right: 4vw;
  top: 6vh;
}

.post-title {
  padding: 0vh 0.5vw 1vh 4vw;
  width: 40vw;
}

.title{
  float: left;
  font-size: 3vh;
  font-weight: 600;
}

.post-content {
  padding: 0vh 0.5vw 1vh 4vw;
  left: 4vw;
  width: 45vw;
  font-size: 1.75vh;
}

.post-info {
  display: flex;
  justify-content: space-between;
  width: 48vw;
  margin: 0vh 4vw 2vh 4vw;
  font-size: 1.5vh;
  @apply text-gray-400;
}

.comments {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1vh 0vw 0vh 9.3vw;
}

.post-stats {
  position: absolute;
  left: 0;
  width: 8vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.75vh;
}

.comment-title {
  border-top: 1.5px solid rgba(0, 0, 0, 0.25);
  width: 48vw;
  padding-top: 2vh;
  margin: 0vh 4vw 0vh 4vw;
  font-size: 2vh;
  font-weight: 300;
}

.content{
  width: 50vw;
  border-left: 1.5px solid black;
  padding: 1vh 1vw 1vh 1vw;
  font-size: 1.25vh;
}

.username {
  @apply text-sky-700;
}

svg {
  width: 2vh;
}
