<div class="container">
  <div class="header">{{post.title}} <span id="username">| {{post.username}}</span></div>
  <div id="content">{{post.content}}</div>
  <div class="tags"><p *ngFor="let tag of post.tags" id="tag">{{tag}}</p></div>
  <div class="info">
    <span class="text">
      <div id="likes">{{post.likeCount}} likes</div>
      <div id="comments">3209 comments</div>
    </span>
    <span class="buttons">
      <button>reply</button>
      <button>edit</button>
    </span>
  </div>
  <div class="comments">
    <h2>comments</h2>
    <div *ngFor="let comment of comments">
      <div id="user">{{comment.username}}username</div>
      <div id="comment">{{comment.content}}content</div>
    </div>
  </div>
</div>


<!--
<h1 class="main">
  <div class="title">{{post.title}}</div>
  <br>
  <hr>
  <br><br>
  <div class="content">{{post.content}}</div>
  <div class="username">By: {{post.username}}</div>
  <div id="tags"><p *ngFor="let tag of post.tags" id="individual-tag">{{tag}}</p></div>
  Add comment count here, once model and rest of backend is updated
  <div class="likes-comments">{{post.likeCount}} likes &nbsp; &nbsp; 3209 comments </div>
  <div class="reply"> <div class="button-1">reply</div> &nbsp; &nbsp; <div class="button-1">edit</div></div>

  <div class="comments-title">Comments</div>

    Implement comments
  <div class="comments"><div *ngFor="let comment of comments" class="individual-comment">
    &nbsp; &nbsp; {{ comment.username }}
    <br>
    {{ comment.content }}
  </div></div>
</h1>
-->
