<div class="container">
  <div class="header">{{post.title}} <span id="username">| {{post.username}}</span></div>
  <div id="content">{{post.content}}</div>
  <div class="tags"><p *ngFor="let tag of post.tags" id="tag">{{tag}}</p></div>
  <div class="info">
    <span class="text">
      <div id="likes">{{post.likeCount}} likes</div>
      <div id="comments">3209 comments</div>
    </span>
    <span class="buttons">
      <button routerLink="/comment/{{post._id}}">reply</button>
      <button>edit</button>
    </span>
  </div>
  <div class="comments">
    <h2>comments</h2>
    <div *ngFor="let comment of comments">
      <div id="user">{{comment.username}}username</div>
      <div id="comment">{{comment.content}}content</div>
    </div>
  </div>
</div>
