<div class="admin">
  <div class="left">
    <div class="header">User Catalog</div>
      <div *ngFor="let user of userList[1]" class="user-list">
          <div class="user">{{user.username}}</div>
          <div class="inner-right">
            <div class="edit"><button (click)="this.selectedUser = user._id; this.getUsersPosts(); this.getUsersComments(); this.getUserStats()">Edit User Details</button></div>
            <button (click)="this.selectedUser = user._id; this.deleteUser()" class="remove">Remove User</button>
          </div>
      </div>
  </div>
  <div class="right">
    <div class="r1">
      <div class="header">User Info</div>
      <div *ngFor="let user of userList[1]">
        <div *ngIf="user._id == this.selectedUser">
          <p>Username: {{user.username}}</p>
          <p>Admin: {{user.isAdmin}}</p>
          <p>Biography: {{user.biography}}</p>
          <button (click) = "changeAdmin(user.isAdmin)">Change Admin Status</button>
          <div><button onClick="getElementById('edit-bio-modal').style.display = 'block'" (click)="this.selectedUser = user._id" >Edit Biography</button> </div>
        </div>
      </div>
        <p>posts - {{userStats.numberOfPosts}}</p>
        <p>comments - {{userStats.numberOfComments}}</p>
        <p>likes - {{userStats.numberOfLikes}}</p>
    </div>

    <div class="r2">
      <div class="header">User Posts</div>
      <div *ngFor="let post of userPosts[1]" class="post-list">
        <a *ngIf="!userPosts">User has no posts</a>
        <div class="title">{{post.title}}</div>
        <div class="inner-right">
          <button onClick="getElementById('edit-post-modal').style.display = 'block'" class="edit">Edit Post Details</button>
          <button (click)="this.selectedPost = post._id; this.deletePost()" class="remove">Remove Post</button>
        </div>
      </div>

    </div>
    <div class="r3">
      <div class="header">User Comments</div>
      <div *ngFor="let comment of userComments[1]" class="post-list">
        <a *ngIf="comment == ''">User has no comments</a>
        <div class="title">{{comment.content}}</div>
        <div class="inner-right">
          <button onClick="getElementById('edit-comment-modal').style.display = 'block'" class="edit">Edit Comment Details</button>
          <button (click)="this.selectedComment = comment._id; this.deleteComment()" class="remove">Remove Comment</button>
        </div>
      </div>
    </div>

  </div>

</div>


<app-login id="login-modal" class="modal"></app-login>
<app-register id="reg-modal" class="modal"></app-register>
<app-edit-bio id="edit-bio-modal" class="modal"></app-edit-bio>
<app-edit-comment id="edit-comment-modal" class="modal"></app-edit-comment>
<app-compose id="compose-modal" class="modal"></app-compose>
<app-comment id="comment-modal" class="modal"></app-comment>
