.admin {
  display: flex;
  flex-direction: row wrap;
  margin: 80px;
  //margin-bottom: -200px;
  min-height: 517px;
  max-height: fit-content;
}

.push {
  //height: 634px;
}

.left {
  margin-right: 25px;
  width: 1200px;
  border-radius: 30px;
  height: max-content;
  padding: 60px;
  padding-top: 25px;
  display: flex;
  flex-direction: column;
  @apply bg-white;
  filter: drop-shadow(6px 6px 20px rgba(0, 0, 0, 0.5));
}

.right {
  display: flex;
  flex-direction: column;
  width: 1200px;
}

.r1, .r2, .r3 {
  margin-bottom: 50px;
  margin-left: 25px;
  border-radius: 30px;
  padding: 60px;
  padding-top: 25px;
  @apply bg-white;
  filter: drop-shadow(6px 6px 20px rgba(0, 0, 0, 0.5));
}

.header {
  font-size: 36px;
  font-weight: bold;
}

.user-list, .post-list {
  display: flex;
  flex-direction: row nowrap;
  justify-content: space-between;
}

.inner-right {
  display: flex;
}

.edit, .remove {
  padding: 100px;
  padding-top: 0px;
  padding-bottom: 5px;
}
