<div class="admin">
  <div class="left">
    <div class="header">User Catalog</div>
      <div *ngFor="let user of userList[1]" class="user-list">
          <button (click)="this.selectedUser = user._id; this.getUsersPosts()" class="user">{{user.username}}</button>
          <div class="inner-right">
            <div class="edit"><a routerLink="/user-admin/{{user._id}}">Edit User Details</a></div>
            <div class="remove">Remove User</div>
          </div>
      </div>
  </div>
  <div class="right">
    <div class="header">User Posts</div>
    <div *ngFor="let post of userPosts[1]" class="post-list">
      <div class="title">{{post.title}}</div>
      <div class="inner-right">
        <div class="edit">Edit Post Details</div>
        <div class="remove">Remove Post</div>
      </div>
    </div>
  </div>
</div>
<div class="push"></div>
<app-footer></app-footer>

