<div class="nav">
  <a routerLink="/home" class="header">{{title}}</a>
  <!--<div class="menu">
    <a routerLink="/home">home</a>
    <a routerLink="/about">about</a>
    <a routerLink="/admin">admin</a>
  </div>-->
  <div class="buttons">
    <div *ngIf="authService.isLoggedIn | async as isLoggedIn; else notLoggedIn">
        <button type="button" class="sign-up"><a routerLink="/user/{{username._id}}">{{username}}</a></button>
        <button type="button" class="login" (click)="authService.logout()">Logout</button>
    </div>
    <ng-template #notLoggedIn>
        <button type="button" class="sign-up" routerLink="/register">Register</button>
        <button type="button" class="login" routerLink="/login">Login</button>
    </ng-template>
  </div>
  <input type="search" name="search" placeholder="Search..." size="39">
</div>

