#navbar {
  color: white;
  width:100%;
  height:60px;
  position: fixed;
  top:0;
  left:0;
  @apply bg-sky-700;

}

#title {
  font-size: 225%;
  margin-left: 30px;
}

nav {
  position: fixed;
  top: 11px;
  left:160px;
  font-size: 150%;
}

a {
  margin-left: 25px;
}

#signUpButton {
  @apply text-sky-800;
}

#signUpBG {
  @apply bg-white;
  width: 90px;
  height: 30px;
  position: fixed;
  top: 14px;
  right: 160px;
  border-radius: 7.5px;
}

#loginBG {
  @apply bg-sky-600;
  width: 90px;
  height: 30px;
  position: fixed;
  top: 14px;
  right: 45px;
  border-radius: 7.5px;
}

#SLButtons {
  text-align: center;
  font-size: 75%;
}

#compose {
  position:fixed;
  right: 20px;
  bottom: 15px;
  height: 50px;
  width: 50px;
  border-radius: 100px;
  filter: drop-shadow(5px 10px 10px grey);
  @apply bg-sky-600;
}

#vLine {
  position: absolute;
  right: 47.5%;
  top: 16%;
  height:65%;
  width: 2px;
  @apply bg-white;
}

#hLine {
  position: absolute;
  bottom: 48%;
  right: 18%;
  height: 2px;
  width: 65%;
  @apply bg-white;
}
