#container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width:100%;
  height:3.5rem;
  position: fixed;
  z-index: 10;
  @apply bg-sky-700 text-white font-sans font-light;

}

#title {
  font-size: 225%;
  margin-left: 2.5rem;
}

a {
  margin-left: 1rem;
  font-size: 150%
}

.menu {
  order: 1;
  margin-left: 12rem;
  margin-top: 0.5rem;
  position: fixed;
}

.search {
  order: 2;
  justify-self: center;
  width: 25rem;
  margin: auto;
}

#signUpButton {
  @apply text-sky-800;
}

.signUpBG {
  width: 90px;
  height: 30px;
  position: fixed;
  top: 12px;
  right: 9.5rem;
  border-radius: 7.5px;
  @apply bg-white text-sky-800;
}

.loginBG {
  @apply bg-sky-600;
  width: 90px;
  height: 30px;
  position: fixed;
  top: 12px;
  right: 2.5rem;
  border-radius: 7.5px;
}

.signUpBG:hover{
  background-color: rgb(224, 224, 224);
}

.loginBG:hover{
  background-color: rgb(24, 47, 110);
}

#compose {
  position:fixed;
  right: 20px;
  bottom: 15px;
  height: 50px;
  width: 50px;
  border-radius: 100px;
  filter: drop-shadow(5px 10px 10px grey);
  @apply bg-sky-600;
}

#vLine {
  position: absolute;
  right: 47.5%;
  top: 16%;
  height:65%;
  width: 2px;
  @apply bg-white;
}

#hLine {
  position: absolute;
  bottom: 48%;
  right: 18%;
  height: 2px;
  width: 65%;
  @apply bg-white;
}
