.nav {
  background-color: black;
  height: 60px;
  width: 100%;
  color: white;
  z-index: 999;

}

.header {
  font-family: Montserrat;
  margin-top: 0px;
  margin-left: 80px;
  font-size: 36px;
  float: left;
}

button {
  @apply bg-sky-500;
  border-radius: 30px;
  width: 135px;
  height: 40px;
  font-size: 24px;
}

.buttons {
  float: right;
  margin-top: 10px;
  margin-right: 80px;
}

.login {
  margin-left: 14px;
}

input {
  background-color: white;
  width: 400px;
  max-width: 800px;
  flex-shrink: 2;
  height: 40px;
  max-height: 40px;
  margin-left: 15%;
  margin-right: 5%;
  margin-top: 10px;
  border-radius: 30px;
  font-size: 24px;
  padding-Left: 1%;
  border: none;
  outline: none;
  color: black;

}

@media only screen and (max-width: 1360px) {
  input {
      display: none;
  }

}

@media only screen and (max-width: 720px){
  .header, .buttons {
    margin-left: auto;
    margin-right: auto;
  }
}
