<div class="home">
  <div class="left">
    <!--shows recent posts-->
    <app-recent></app-recent>
  </div>
  <div class="right">
    <!--shows create post button if logged in-->
    <div *ngIf="authService.isLoggedIn | async as isLoggedIn; else notLoggedIn">
      <button class="compose" onClick="getElementById('compose-modal').style.display = 'block'">+ Create a New Post</button>
    </div>
    <ng-template #notLoggedIn></ng-template>
    <!--shows featured (most liked) posts-->
    <app-feature></app-feature>
  </div>
</div>

<app-footer></app-footer>

<script>
  //close popup when user clicks outside of window - FIX
  var composeModal = document.getElementById('compose-modal');
  window.addEventListener("click", function(event) {
    if (event.target == composeModal) {
      composeModal.style.display = "none";
    }
  });
</script>
