.home {
  @apply bg-gray-100;
  display: flex;
  flex-direction: row wrap;
  margin: 80px;
}

app-recent {
  margin-right: 25px;
  width: 1604px;
}

app-feature {
  margin-left: 25px;
  width: 746px;
}
