<div class="home">
  <div class="left">
    <!--shows recent posts-->
    <app-recent></app-recent>
  </div>
  <div class="right">
    <!--shows create post button if logged in-->
    <div *ngIf="authService.isLoggedIn | async as isLoggedIn; else notLoggedIn">
      <button class="compose" onClick="getElementById('compose-modal').style.display = 'block'"><div class="create">+ Create a New Post</div></button>
    </div>
    <ng-template #notLoggedIn></ng-template>
    <!--shows featured (most liked) posts-->
    <app-feature></app-feature>
  </div>
</div>

<app-edit-bio id="edit-bio-modal" class="modal"></app-edit-bio>
<app-edit-post id="edit-post-modal" class="modal"></app-edit-post>
<app-edit-comment id="edit-comment-modal" class="modal"></app-edit-comment>
<app-comment id="comment-modal" class="modal"></app-comment>
