#main {
  position: relative;
  margin-top: 5%;
  margin-left: 10%;
  height: 100%;
  width: 50%
}

#post {
  border-radius: 2px;
  padding: 1rem;
  font-size: 1.2rem;
  text-decoration: none;
  display: inline-block;
  text-align: left;
  width: 100%;
  min-width: 70px;
  margin: .5rem auto;
  box-sizing: border-box;
  z-index: -10;
  /* flexbox */
  order: 0;
  flex: 0 1 auto;
  align-self: auto;

  @apply text-black;
}


#title {
  font-size: 200%;
}

#content {

}

#info {
  padding-top: 1%;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

#featured {
  display: inline-block;
  order: 1;
  flex: 0 1 auto;
  align-self: auto;
}
