<div class="container">
  <div class="recent">
    <h2>recent posts</h2>
      <a *ngFor="let post of mostRecentPosts[1]" class="post">
        <a routerLink="/post/{{post._id}}" class="title">{{post.title}}</a>
        <div id="content">{{post.content | shorten: 170}}</div>
        <div class="tag-container">
          <p *ngFor="let tag of post.tags" id="tag">{{tag}}</p>
        </div>
        <div class="row">
          <div class="info">
            <div id="likes">{{post.likeCount}} likes</div>
            <div id="comments">234 comments</div>
            <div id="username">{{post.username}}</div>
          </div>
          <div class="buttons">
            <button type="button" id="likeButton"><3</button>
              <button type="button" id="commentButton">comment</button>
          </div>
        </div>

      </a>
  </div>
  <div class="featured">
    <h2>featured posts</h2>
    <a *ngFor="let post of mostLikedPosts[1]" class="post">
      <a routerLink="/post/{{post._id}}" class="title">{{post.title}}</a>
        <div class="info">
          <div id="likes">{{post.likeCount}} likes</div>
          <a *ngFor="let user of users">
            <a *ngIf="user.id == post.userID" routerLink="/user/{{user.username}}">{{post.userID}}</a>
          </a>
        </div>
    </a>
  </div>
</div>
