.box {
  display: flex;
  flex-direction: row wrap;
  margin: 8vh 4vw 0vh 4vw
}

.left {
  margin-right: 2vw;
  width: 60vw;
}

.right {
  width: 30vw;
  display: flex;
  flex-direction: column;
}

.edit-button {
  float: right;
  margin-top: 2vh;
}

.post {
  border-radius: 1vw;
  padding: 4vh 4vw 4vh 4vw;
  display: flex;
  flex-direction: column;
  margin-bottom: 2.5vh;
  @apply bg-white;
  filter: drop-shadow(6px 6px 20px rgba(0, 0, 0, 0.5));
}

.comment, .user {
  border-radius: 1.5vw;
  margin-bottom: 50px;
  padding: 60px;
  display: flex;
  flex-direction: column;
  @apply bg-white;
  filter: drop-shadow(6px 6px 20px rgba(0, 0, 0, 0.5));
}

.comment {
  padding-top: 25px;
}

.post-comment {
  padding-bottom: 12px;
}

.title, .username {
  padding: 0vh 0.5vw 1vh 4vw;
  width: 40vw;
  float: left;
  font-size: 3vh;
  font-weight: 600;
}

.comment-title {
  font-size: 36px;
  font-weight: bold;
  padding-bottom: 18px;
}

.post-title {
  padding: 0vh 0.5vw 1vh 4vw;
  width: 40vw;
  float: left;
  font-size: 3vh;
  font-weight: 600;
}

.post-center {
  display: flex;
  flex-direction: row;
  padding-bottom: 24px;
}

.post-stats {
  display: flex inline;
  flex-direction: column;
  align-items: center;
  font-size: 24px;
  padding-top: 2px;
  margin-right: 60px;
}

.post-content {
  padding-left: 10px;
}

.post-info {
  display: flex inline;
  flex-direction: row;
  justify-content: space-between;
  font-size: 24px;
  padding-left: 110px;
  @apply text-gray-400;
}

.like-count {
  padding-bottom: 14px;
}

.link {
  @apply text-sky-700;
}

svg {
  height: 2vh;
}
