#bg {
  z-index: 0;
  top: 60px;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  @apply bg-gray-300;
}


.container {
  display: flex;
  padding: 2rem;
  flex-flow: column nowrap;
  height: max-content;
  margin: 5rem;
  border-radius: 20px;
  width: 80rem;
  @apply bg-white font-sans font-light;
  filter: drop-shadow(5px 10px 10px grey);
}

.user {

}

#username {
  font-size: 225%;
  //text-align: center;
  margin-bottom: 0.5rem;
  @apply font-bold text-sky-800;
}

#bio {
  margin-bottom: 2rem;
}

.posts {

}

#title {
  @apply font-bold;
  margin-left: 1rem;
  margin-right: 1rem;
  font-size: 1.5rem;
}

#content {
  margin-left: 1rem;
}

.info {
  display: flex;
  flex-flow: row nowrap;
  order: 1;
  margin-left: 1rem;
}

#likes {
  order: 1;
}

#comments {
  order: 2;
  margin-left: 1rem;
}

.tags {
  display: flex;
  width: 100%;
  margin-bottom: 1.5rem;
}

#tag {
  border: 1rem;
  border-radius: 1rem;
  padding: 0.5rem;
  padding-top: 0;
  padding-bottom: 0.25rem;
  float: left;
  width: max-content;
  margin: 0.5rem;
  margin-left: 0.75rem;
  @apply bg-gray-300;
}
