.box {
  display: flex;
  flex-direction: row wrap;
  margin: 80px;
}

.left {
  margin-right: 25px;
  width: 1604px;
}

.right {
  margin-left: 25px;
  width: 746px;
  display: flex;
  flex-direction: column;
}

.edit-button {
  float: right;
  margin-top: 20px;
}

.post {
  border-radius: 30px;
  margin-bottom: 50px;
  padding: 60px;
  padding-left: 85px;
  padding-right: 200px;
  display: flex;
  flex-direction: column;
  @apply bg-white;
  filter: drop-shadow(6px 6px 20px rgba(0, 0, 0, 0.5));
}

.comment, .user {
  border-radius: 30px;
  margin-bottom: 50px;
  padding: 60px;
  display: flex;
  flex-direction: column;
  @apply bg-white;
  filter: drop-shadow(6px 6px 20px rgba(0, 0, 0, 0.5));
}

.comment {
  padding-top: 25px;
}

.post-comment {
  padding-bottom: 12px;
}

.title {
  font-size: 36px;
  font-weight: 300;
  margin-left: 110px;
  padding-bottom: 18px;
}

.username {
  font-size: 36px;
  font-weight: bold;
  padding-bottom: 18px;
}

.comment-title {
  font-size: 36px;
  font-weight: bold;
  padding-bottom: 18px;
}

.post-title {
  font-size: 24px;
  font-weight: 300;
}

.post-center {
  display: flex;
  flex-direction: row;
  padding-bottom: 24px;
}

.post-stats {
  display: flex inline;
  flex-direction: column;
  align-items: center;
  font-size: 24px;
  padding-top: 2px;
  margin-right: 60px;
}

.post-content {
  padding-left: 10px;
}

.post-info {
  display: flex inline;
  flex-direction: row;
  justify-content: space-between;
  font-size: 24px;
  padding-left: 110px;
  @apply text-gray-400;
}

.like-count {
  padding-bottom: 14px;
}

.link {
  @apply text-sky-700;
}

/*

#bg {
  z-index: 0;
  top: 60px;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  margin-top: 3rem;
  gap: 2rem 2rem;
  @apply font-sans;
}

.posts {
  padding: 1rem;
  display: block;
  margin: auto;
  flex-basis: 45rem;
  flex-shrink: 1;
  border-radius: 20px;
  @apply bg-white;
  filter: drop-shadow(5px 10px 10px grey);
}

.user {
  margin-left: 1rem;
}

#username {
  font-size: 225%;
  //text-align: center;
  margin-bottom: 0.5rem;
  @apply font-bold text-sky-800;
}

#bio {
  margin-bottom: 2rem;
  margin-right: 1rem;
}

h2 {
  font-size: 150%;
  @apply font-sans font-light text-sky-800;
  margin-bottom: 1rem;
}

#title {
  margin-left: 1rem;
  margin-right: 1rem;
  font-size: 1.5rem;
}

#content {
  margin-left: 1rem;
  margin-right: 1rem;
}

.info {
  display: flex;
  flex-flow: row nowrap;
  order: 1;
  margin-left: 1rem;
}

#likes {
  order: 1;
}

#comments {
  order: 2;
  margin-left: 1rem;
}

.tags {
  display: flex;
  width: 100%;
  margin-bottom: 1.5rem;
  margin-right: 1rem;
}

#tag {
  border: 1rem;
  border-radius: 1rem;
  padding: 0.5rem;
  padding-top: 0;
  padding-bottom: 0.25rem;
  float: left;
  width: max-content;
  margin: 0.5rem;
  margin-left: 0.75rem;
  @apply bg-gray-300;
}

.comments {
  padding: 1rem;
  order: 2;
  display: block;
  margin: auto;
  margin-top: 0;
  order: 2;
  flex-basis: 25rem;
  border-radius: 20px;
  align-self: flex-end;
  @apply bg-white;
  filter: drop-shadow(5px 10px 10px grey);
}

#box-title {
  margin-left: 1rem;
}

#post-title {
  margin-left: 1rem;
}

#comment {
  margin-left: 1rem;
  margin-bottom: 1rem;
}
*/
