.editpost-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 8vh 35vw 0vh 35vw;
  overflow: hidden;
  width: 30vw;
  border-radius: 1.5vw;
  @apply bg-white;
}

.title {
  justify-self: center;
  font-family: Montserrat;
  font-weight: 300;
  font-size: 3vh;
  padding-bottom: 2vh;
  padding-top: 2vh;
}

.close {
    float: right;
    font-size: 3vh;
    font-weight: bold;
    margin: 0;
    position: absolute;
    right: 37vw;
    padding-top: 1.5vh;
    @apply text-gray-300;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

form {
  display: flex;
  flex-direction: column;
  padding-bottom: 2vh;
}

textarea {
  border-radius: 1.5vw;
  overflow: hidden;
  margin: 1vh 0vw 0vh 0vw;
  width: 20vw;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 1%;
  font-size: 2vh;
  font-weight: 300;
  @apply bg-gray-200 text-black;
  resize: none;
  height: 20vh;
}

input {
  border-radius: 1.5vw;
  overflow: hidden;
  margin: 1vh 0vw 0vh 0vw;
  width: 10vw;
  padding-left: 3%;
  padding-right: 3%;
  font-size: 2vh;
  font-weight: 300;
  @apply bg-gray-200 text-black;
}


.submit {
  @apply bg-sky-500 text-white;
  border-radius: 2vw;
  width: 6vw;
  height: 3vh;
  font-size: 1.5vh;
  font-weight: 300;
  margin-top: 2vh;
  align-self: center;
}

.submit:hover {
  @apply bg-sky-800;
}
