app-navbar {
  position: fixed;
  z-index: 999;
  width: 100%;
  top: 0;
}

app-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  //margin-top: 80vh;
}

.content-wrap {
  padding-bottom: 2.5vh;
}

.page-container {
  margin: 0;
  padding: 0;
  position: relative;
  min-height: 100vh;
  width: 100%;
}
