<div class="container">
  <button class="close" onClick="getElementById('reg-modal').style.display = 'none'">&times;</button>
  <div class="title">Pigeon | Register</div>
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form">
    <input type="text" placeholder="username" formControlName="username" size="30" required>
    <input type="password" placeholder="password" formControlName="password" size="30" required>
    <button class="submit" type="submit" onClick="getElementById('reg-modal').style.display = 'none'">Register</button>
  </form>
</div>
