#searchBar {
  z-index: 11;
  position: fixed;
  margin-left: 37%;
  padding-left: 1.1%;
  padding-top: .2%;
  top: 15px;
  height: 30px;
  width: 30%;
  border-radius: 20px;
  background-color: transparent;
  @apply text-gray-400;
  @apply bg-white;
  overflow: auto;
}

#searchBar input {
  border: none;
  outline: none;
}

#searchIcon {

}
