.searchBar {
  z-index: 200;

  //align-self: center;
  //margin: auto;

  overflow: auto;
  border-radius: 20px;
  padding-left: 2%;
  @apply text-black bg-white;
}

input {
  border: none;
  outline: none;
}
/*
#searchBar {
  z-index: 200;
  position: fixed;
  margin-left: 37%;
  padding-left: 1.1%;
  padding-top: .2%;
  top: 15px;
  height: 30px;
  width: 30%;
  border-radius: 20px;
  background-color: transparent;
  @apply text-gray-400;
  @apply bg-white;
  overflow: auto;
}

#searchBar input {
  border: none;
  outline: none;
}

#searchIcon {

}
*/
